
.split {
    height: 100%;
    width: 25%;

    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.leftside {
    position: center;
}


.newImage {
     width: 200px;
     height: 200px;

 }

.enlargedImage {

    max-width: 100%;
    height: auto;
    object-fit: contain;


}

/* Control the right side */
.rightside {
    height: 100%;
    width: 75%;
    right: 0;
    background-color: grey;
    overflow: hidden;
}

